<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wander.kFramework">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="cn.wander.kFramework.permission.ACCESS_DOWNLOAD_MANAGER" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.wander.ui.test.TestActivity"
            android:label="@string/title_activity_base"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="cn.wander.ui.base.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.fullScreen" />
        <activity
            android:name="cn.wander.ui.base.BasePublishActivity"
            android:theme="@style/AppTheme.fullScreen" />
        <activity
            android:name="cn.wander.ui.encounter.EncounterActivity"
            android:theme="@style/AppTheme.fullScreen" />
        <activity
            android:name="cn.wander.ui.encounter.EncounterPublishActivity"
            android:theme="@style/AppTheme.fullScreen" />
    </application>

</manifest>